a{
	text-decoration: inherit;
}
a:hover, a:focus{
	text-decoration: inherit;
	color: yellow;
}
.garis{
	border:1px solid;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-brand {
	color: white;
}
.skl-banner{
	width: 90%;
	margin: auto;
}
.sambungfloat{
	clear: both;
}
.txt-kanan{
	text-align: right;
}
.skl-content{
	padding: 21.5px;
	border-bottom: 1px solid #f0ad4e;

}
.biru-tua{
	background-color: #299caf;
}
.biru-muda{
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.merah{
	padding: 12px;
	background-color: #d9534f;
}
.kuning{
	padding: 12px;
	background-color: #f0ad4e;
}
.bg-putih{
	padding: 10px;
	background-color: white;
}
.skl-radius{
	border-radius: 4px;
}
.skl-radius-ats{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.txt-putih{
	color: white;
}
.bts-atas{
	margin-top: 10px;
}
.skl-shadow{
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.padding-9	{
	padding: 9px;
}
.warna-merah{
	background-color: red;
}
.jarak {
	height:   2px;
}